@media (max-width:512px) {
    body {
        background: #000;
    }
    #newsAccordian {
        font-size: 20px;
    }
}


/* 
@media(min-width:990px) {
    body {
        background: rgb(206, 46, 46);
    }
} */